#form1{
    color: red;
    width: 50%;
    display: block;
    margin: auto auto;
    margin-top: 10%;
}

.btn1234{
    display: flex;
    margin-top:10px;
    color: #e2cfea;
    background-color: #062726;
}

.myspace{
    border: 1px solid red;
    padding: 15px;

}